### for 반복문

In [1]:
for num in [1,2,3]:
    print(num)

1
2
3

In [2]:
for st in ["Hello","World","Python"]:
    print(st)

Hello
World
Python

In [3]:
score  = {"국어":95,"영어":90,"수학":80}

In [4]:
for item in score.keys():
    print(item)

국어
영어
수학

In [5]:
for item in score.values():
    print(item)

95
90
80

In [6]:
for key,value in score.items():
    print(f"{key}과목 점수는 {value}점 입니다")

국어과목 점수는 95점 입니다
영어과목 점수는 90점 입니다
수학과목 점수는 80점 입니다

### Range함수

In [7]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [8]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [9]:
list(range(10,0,-1))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
for i in range(1,11,2):
    print(i)

1
3
5
7
9

In [11]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

### for 반복문과 else구문

In [13]:
for i in range(1,10):
    ans = 2 * i
    print(f"2 X {i} = {ans}")
else:
    print("구구단 2단을 종료합니다.")

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
구구단 2단을 종료합니다.

### While 문

In [1]:
a = 0

In [2]:
while a<10:
    print(a)
    a += 1 # a = a + 1
else:
    print(f"a가 {a}이므로 종료합니다.")

0
1
2
3
4
5
6
7
8
9
a가 10이므로 종료합니다.

### While 무한반복

In [6]:
x = 0

In [7]:
while True:
    x += 3
    print(x)
    if x > 100 and x % 3 == 0:
        break

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99
102

### 파이썬 리스트 컴프리헨션(Comprehension)

In [2]:
list1 = list(range(1,11))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [3]:
list2 = [i*2 for i in list1]
list2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [4]:
list1 = list(range(1,11))
print(list1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
list3=[i**2 for i in list1 if i % 2 == 1]
list3

[1, 9, 25, 49, 81]